body {
  font-family: 'Lato', sans-serif;
}

/*Menu*/
.Menu {
  background: #E8E0DA;
  width: 100%;
  box-sizing: border-box;
  padding: -6rem 0;
}

section nav ul li {
  color: #3C404F;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
}

nav li a {
  text-decoration: none;
  color: #3C404F;
}

.decoracion {
  text-decoration: none !important;
  color: #3C404F;
}

section nav {
  padding: 1rem;
}

.logo {
  padding: 1rem;
}

.display-menu-hambur {
  display: inline-block;
  position: absolute;
  right: -1.5%;
  top: 5%;
  font-size: 1.5rem;
  /*-----BANNER------*/
}

.banner {
  background: linear-gradient(90deg, #ff8c49, #3c404f);
  width: 100%;
  height: 500px;
}

.h4-style {
  color: #ffffff;
}

.btn-style-startud {
  display: inline-block;
  text-align: center;
  background: #ffffff;
  border-radius: 2px;
  padding: 1rem 1rem;
  color: #ff8c49;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  font-size: 1.2rem;
}

.btn-style-startud:hover {
  cursor: pointer;
}

.btn-startud {
  text-align: center;
}

.text-title-banner {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
}

/* Facture*/
.facture {
  width: 100%;
  height: auto;
  margin-top: 3%;
}

/* Component Category */
.searchCategory input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  border-radius-border: none;
}

.searchCategory .btnSearchCategory {
  border: none;
  border-color: tomato;
}

.cardCategory, .card-img {
  border: none;
  width: 100%;
}

.cardCategory {
  position: relative;
}

.cardCategory .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.cardCategory:hover .overlay {
  opacity: 1;
}

.cardCategory .card-content {
  position: relative;
  top: -90%;
  left: 10%;
  font-size: 1.5em;
  text-shadow: black 0 0 10px;
  font-weight: bold;
  width: 100%;
}

.cardCategory .card-content .iconCategory {
  font-size: 3.4rem;
}

.cardCategory.card-img-overlay {
  padding-top: -1rem;
}

.cardCategory.card-img-overlay .iconCategory {
  font-size: 5rem;
}

/*stykes footer*/
footer {
  width: 100%;
  background: #E8E0DA;
}

.box {
  padding: 1rem;
}

.box span {
  color: #FF8C49;
}

.btn-style-card {
  width: 100%;
}

.product .imagen {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.product .imagen::-webkit-scrollbar {
  width: 7px;
}

.product .imagen::-webkit-scrollbar-thumb {
  background: tomato;
  border-radius: 5px;
}
