body {
  font-family: 'Lato', sans-serif;
}

/*Menu*/
.Menu {
  background: #E8E0DA;
  width: 100%;
  box-sizing: border-box;
  padding: -6rem 0;
}

section nav ul li {
  color: #3C404F;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
}

nav li a {
  text-decoration: none;
  color: #3C404F;
}

.decoracion {
  text-decoration: none !important;
  color: #3C404F;
}

section nav {
  padding: 1rem;
}

.logo {
  padding: 1rem;
}

.display-menu-hambur {
  display: inline-block;
  position: absolute;
  right: -1.5%;
  top: 5%;
  font-size: 1.5rem;
  /*-----BANNER------*/
}

.banner {
  background: linear-gradient(90deg, #ff8c49, #3c404f);
  width: 100%;
  height: 500px;
}

.h4-style {
  color: #ffffff;
}

.btn-style-startud {
  display: inline-block;
  text-align: center;
  background: #ffffff;
  border-radius: 2px;
  padding: 1rem 1rem;
  color: #ff8c49;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  font-size: 1.2rem;
}

.btn-style-startud:hover {
  cursor: pointer;
}

.btn-startud {
  text-align: center;
}

.text-title-banner {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
}

/* Facture*/
.facture {
  width: 100%;
  height: auto;
  margin-top: 3%;
}

/* Component Category */
.searchCategory input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  border-radius-border: none;
}

.searchCategory .btnSearchCategory {
  border: none;
  border-color: tomato;
}

.cardCategory, .card-img {
  border: none;
  width: 100%;
}

.cardCategory {
  position: relative;
}

.cardCategory .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.cardCategory:hover .overlay {
  opacity: 1;
}

.cardCategory .card-content {
  position: relative;
  top: -90%;
  left: 10%;
  font-size: 1.5em;
  text-shadow: black 0 0 10px;
  font-weight: bold;
  width: 100%;
}

.cardCategory .card-content .iconCategory {
  font-size: 3.4rem;
}

.cardCategory.card-img-overlay {
  padding-top: -1rem;
}

.cardCategory.card-img-overlay .iconCategory {
  font-size: 5rem;
}

/*stykes footer*/
footer {
  width: 100%;
  background: #E8E0DA;
}

.box {
  padding: 1rem;
}

.box span {
  color: #FF8C49;
}

.btn-style-card {
  width: 100%;
}

.product .imagen {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.product .imagen::-webkit-scrollbar {
  width: 7px;
}

.product .imagen::-webkit-scrollbar-thumb {
  background: tomato;
  border-radius: 5px;
}


nav {
  box-shadow: 0 4px 2px -2px #CCCCCC !important;
}

/*SCROLL BAR CSS STYLE*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /*box-shadow:  0 0 5px grey;*/ 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #CCCCCC; 
  border-radius: 10px;
}

/*-FOOTER STYLES-*/
footer.footer-styles{
  height: 110px;
  padding-top: 10px; 
}

.developed-by-styles{
  text-align: left;
}

.developers-styles{
  text-align: left;
}

.footer-developers{
  width: 20%;
}

.height-100{
  height: 100%;
}

.width-40{
  width: 40%
}

.width-50{
  width: 50%;
}

.width-60{
  width: 60%;
}

.width-100{
  width: 100%;
}

.orange-color{
  color: #ff6600;
}

.profile-link:hover {
  color: #ff6600 !important;
  text-decoration: none !important;
}

#main-styles{
  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

footer{
  color: black;
  min-height: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  /* box-shadow: 0 -5px 5px -5px #CCCCCC; */
}

/*-CARD STYLES-*/
.card {
  box-shadow: none !important;
}

.category-container-style{
  margin-top: 70px;
  box-sizing: border-box;
  padding: 0;
}

.fluid-styles{
  margin: 0;
  padding: 0;
  width: 100%;
  color: red;
  margin-bottom: 20px;
}

div.card-styles{
  width: calc((100% / 4) - 15px);
  background: rgba(149, 165, 166,1.0);
  z-index: 1000;
}

div.card-styles .card-description{
  position: absolute;
  padding: 20px;
  z-index: 1000;
  color: white;
  width: 100%;
  height: 100%;
}

div.card-styles .card-description .icon-style{
  color: white;
  font-size: 3rem;
}

div.card-styles img{
  width: 100%;
  height: 200px;
  z-index: 0;
  opacity: 0.3;
  position: relative;
  transition: all 1s;
}

div.card-styles:hover img{
  opacity: 0.1;
  cursor: pointer;
  transition: all 1s;
}


/* SEARCH BOX INPUT - INIT*/
.input-search {
  border-top: none;
  border-right: none;
  border-left: none;
}

.input-search:focus {
  border-color: none !important;
}

.input-group-text {
  border-top: none;
  border-right: none;
  background-color: transparent;
}
/* SEARCH BOX INPUT - END*/

/* BTN HOVER EFFECT - INIT */
.btn:hover {
  color: white;
  background: #F85D4A;
}
/* BTN HOVER EFFECT - END */

/* TEST LOADER - INIT */
.loader-wrapper {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

.ulX {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.ulX .liX {
  list-style: none;
  width: 40px;
  height: 40px; 

  background: #fff !important;
  border-radius: 50%;
  animation: animate 1.6s ease-in-out infinite;
}

@keyframes animate {
  0%, 40%, 100% {
      transform: scale(0.2);
  }

  20% {
      transform: scale(1);
  }
}

.ulX .liX:nth-child(1) {
  animation-delay: -1.4s;
  background: #F85D4A!important;
}

.ulX .liX:nth-child(2) {
  animation-delay: -1.2s;
  background: #000000!important;
}

.ulX .liX:nth-child(3) {
  animation-delay: -1.0s;
  background: #F85D4A!important;
}

.ulX .liX:nth-child(4) {
  animation-delay: -0.8s;
  background: #000000!important;
}

.ulX .liX:nth-child(5) {
  animation-delay: -0.6s;
  background: #F85D4A!important;
}

.ulX .liX:nth-child(6) {
  animation-delay: -0.4s;
  background: #000000!important;
}

ul li:nth-child(7) {
  animation-delay: -0.2s;
  background: #F85D4A;
}
/* TEST LOADER - END*/

@media (max-width: 480px) { 

  p.phrase{
      font-size: 1.7rem !important;
      width: 80% !important;
  }

  footer.footer-styles{
      flex-wrap: wrap;
  }

  p.footer-message{
      width: 100%;
      text-align: center;
  }

  p.footer-developers{
      width: 100%;
      display: flex;
  }

  .developed-by-styles{
      font-size: 0.8rem;
      width: 40%;
  }

  .developers-styles{
      font-size: 0.8rem;
      width: 60%;
      text-align: right;
  }


  .none-footer{
      display: block;
  }

  div.fluid-styles{
      display: flex;
      flex-wrap: wrap;
  }

  div.card-styles{
      width: 100% !important;
      height: 300px !important; 
  }

  div.card-styles .card-description{
      font-size: 1.3rem;
  }
  
  div.card-styles .card-description .icon-style{
      color: white;
      font-size: 3rem;
  }

}

@media (max-width: 320px) {
  
  p.phrase{
      font-size: 1rem !important;
      width: 90% !important;
  }
  
  .footer-message{
      font-size: 0.8rem;
  }

  div.card-styles .card-description{
      font-size: 1rem;
  }

  .sub-title-description{
      background:red;
      align-self: flex-start;
  }

}


@media (max-width: 640px) { 

  .gradient-container{
      height: 40vh;
  }

  p.phrase{
      font-size: 2rem !important;
      width: 75% !important;
  }

  a.text-btn{
      color: #000;
      border-radius: 1px;
      font-size: 0.8rem;
      padding: 10px 50px;
  }

  .footer-message, .footer-developers{
      width: 50%;
      font-size: 0.8rem;
  }

  .developed-by-styles{
      width: 100%;
      text-align: right;
  }

  span.developers-styles{
      width: 100%;
      display: block;
      text-align: right;
  }

  .none-footer{
      display: none;
  }

  div.fluid-styles{
      display: flex;
      flex-wrap: wrap;
  }

  div.card-styles{
      width: calc((100% / 2) - 15px);
      margin-bottom: 30px;
      height: 230px;
  }

  div.card-styles img{
      height: 100%;
  }

}


@media (min-width: 768px) { 

  p.phrase{
      font-size: 2.3rem !important;
      width: 80% !important;
  }
 

  div.fluid-styles{
      display: flex;
      flex-wrap: wrap;
  }

  div.card-styles{
      width: calc((100% / 2) - 15px);
      margin-bottom: 30px;
      height: 230px;
  }

  div.card-styles img{
      height: 100%;
  }

}

@media (min-width: 992px) { 

  .footer-message{
      width: 50%;
      font-size: 0.9rem;
  }

  p.phrase{
      font-size: 2.3rem;
      width: 50%;
  }

  div.card-styles{
      width: calc((100%) - 15px);
      height: 200px;
  }

  div.card-styles img{
      height: 100%;
  }
  
}

@media (min-width: 1200px) { 

  .footer-message{
      width: 50%;
      font-size: 1rem !important;
  }

  .footer-developers{
      font-size: 0.9rem;
  }

  .gradient-container{
      height: 50vh;
  }

}

@media (max-width: 1300px) { 

  p.phrase{
      font-size: 2.8rem;
      width: 50%;
  }

  .gradient-container{
      height: 60vh;
  }

}
